<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>RestaurantSystemWeb</display-name>
  <welcome-file-list>
    <welcome-file>restaurantlog.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>MenuDAO</display-name>
    <servlet-name>MenuDAO</servlet-name>
    <servlet-class>net.javaguides.menumanagement.dao.MenuDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuDAO</servlet-name>
    <url-pattern>/MenuDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>menu</display-name>
    <servlet-name>menu</servlet-name>
    <servlet-class>net.javaguides.menumanagement.model.menu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menu</servlet-name>
    <url-pattern>/menu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>menuServlet</display-name>
    <servlet-name>menuServlet</servlet-name>
    <servlet-class>net.javaguides.menumanagement.web.menuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>menuServlet</servlet-name>
    <url-pattern>/listItem</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.zxc.Listener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ShoppingCartLogin</display-name>
    <servlet-name>ShoppingCartLogin</servlet-name>
    <servlet-class>com.abc.ShoppingCartLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCartLogin</servlet-name>
    <url-pattern>/ShoppingCartLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopLogDAO</display-name>
    <servlet-name>ShopLogDAO</servlet-name>
    <servlet-class>net.javaguides.ShopLoginmanagement.dao.ShopLogDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopLogDAO</servlet-name>
    <url-pattern>/ShopLogDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopLog</display-name>
    <servlet-name>ShopLog</servlet-name>
    <servlet-class>net.javaguides.ShopLoginmanagement.model.ShopLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopLog</servlet-name>
    <url-pattern>/ShopLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopcartDAO</display-name>
    <servlet-name>ShopcartDAO</servlet-name>
    <servlet-class>net.javaguides.shopcartmanagement.dao.ShopcartDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopcartDAO</servlet-name>
    <url-pattern>/ShopcartDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Shopcart</display-name>
    <servlet-name>Shopcart</servlet-name>
    <servlet-class>net.javaguides.shopcartmanagement.model.Shopcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Shopcart</servlet-name>
    <url-pattern>/Shopcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shopcartServlet</display-name>
    <servlet-name>shopcartServlet</servlet-name>
    <servlet-class>net.javaguides.shopcartmanagement.web.shopcartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shopcartServlet</servlet-name>
    <url-pattern>/insertShop</url-pattern>
    <url-pattern>/deleteShop</url-pattern>
    <url-pattern>/deleteAllShop</url-pattern>
    <url-pattern>/listShop</url-pattern>
    <url-pattern>/updateShopPlus</url-pattern>
    <url-pattern>/updateShopMinus</url-pattern>
    <url-pattern>/insertTotalPrice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Employee</display-name>
    <servlet-name>Employee</servlet-name>
    <servlet-class>net.javaguides.ShopLoginmanagement.Employee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Employee</servlet-name>
    <url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsLetter</display-name>
    <servlet-name>NewsLetter</servlet-name>
    <servlet-class>net.javaguides.newslettermanagement.model.NewsLetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsLetter</servlet-name>
    <url-pattern>/NewsLetter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsLetterDAO</display-name>
    <servlet-name>NewsLetterDAO</servlet-name>
    <servlet-class>net.javaguides.newslettermanagement.dao.NewsLetterDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsLetterDAO</servlet-name>
    <url-pattern>/NewsLetterDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewsLetterServlet</display-name>
    <servlet-name>NewsLetterServlet</servlet-name>
    <servlet-class>net.javaguides.newslettermanagement.web.NewsLetterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsLetterServlet</servlet-name>
    <url-pattern>/insertNewsletter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LinepayServlet</display-name>
    <servlet-name>LinepayServlet</servlet-name>
    <servlet-class>net.javaguides.linepaymanagement.web.LinepayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LinepayServlet</servlet-name>
    <url-pattern>/listUrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Linepaypayment</display-name>
    <servlet-name>Linepaypayment</servlet-name>
    <servlet-class>com.abc.Linepaypayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Linepaypayment</servlet-name>
    <url-pattern>/Linepaypayment</url-pattern>
  </servlet-mapping>
</web-app>